/******************************/
/* SCSS Partials Imports      */
/******************************/
/******************************/
/* CSS Setup Styles           */
/******************************/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

/******************************/
/* Font Variables             */
/******************************/
/******************************/
/* Color Variables            */
/******************************/
/******************************/
/* General Styles             */
/******************************/
.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* Accessibility skip link */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 3rem;
}

a:hover {
  color: #EA593C;
}

html,
h1,
h2,
p,
ul,
body,
a {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 12rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  background-color: #000;
}

img {
  max-width: 100%;
  object-fit: cover;
}

label {
  font-size: 4rem;
  color: #352919;
}

button {
  margin-top: 3rem;
}

/* start and restart button styles */
.start,
.restart {
  display: inline-block;
  padding: 2rem 6rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
  background-color: #352919;
  text-transform: uppercase;
}

.start:hover,
.start:focus,
.restart:hover,
.restart:focus {
  color: #000;
  background-color: #FFF7E8;
}

/******************************/
/* Header Styles              */
/******************************/
header {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/headerHeroImage.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

header .headerFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .headerFlex h1 {
  margin: 10rem 0 5rem 0;
  width: 70%;
}

header .headerFlex p {
  width: 70%;
  margin-bottom: 5rem;
}

header .headerFlex .start {
  margin-bottom: 5rem;
}

/******************************/
/* Main Styles                */
/******************************/
.mood {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/part1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 0;
}

.mood h2 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 5rem;
  padding: 3rem 0;
  color: #FFF7E8;
  background-color: #2e2e2e;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  padding: 3rem;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-right: 2rem;
  flex: 1 1 30%;
}

.option1 button,
.option2 button,
.option3 button,
.option4 button,
.option5 button,
.option6 button {
  text-decoration: none;
  text-align: center;
  color: #FFF7E8;
  background: #352919;
  margin: 2rem 0;
  width: 100%;
  border-radius: 10px;
  border: 0.5rem solid #352919;
}

.option1 button:hover, .option1 button:focus,
.option2 button:hover,
.option2 button:focus,
.option3 button:hover,
.option3 button:focus,
.option4 button:hover,
.option4 button:focus,
.option5 button:hover,
.option5 button:focus,
.option6 button:hover,
.option6 button:focus {
  border: 0.5rem solid #BF8620;
}

.option1 img,
.option2 img,
.option3 img,
.option4 img,
.option5 img,
.option6 img {
  border-radius: 50%;
  border: 1rem solid #352919;
  width: 25rem;
  height: 25rem;
  object-fit: contain;
  background-color: #fff;
}

.option1 img:hover, .option1 img:focus,
.option2 img:hover,
.option2 img:focus,
.option3 img:hover,
.option3 img:focus,
.option4 img:hover,
.option4 img:focus,
.option5 img:hover,
.option5 img:focus,
.option6 img:hover,
.option6 img:focus {
  border: 1rem solid #BF8620;
}

.option6 img {
  object-fit: cover;
}

/**************************
* Results Container Styles
**************************/
.results {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/extra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  padding-top: 5rem;
  height: auto;
  padding-bottom: 15%;
}

.ingredients,
.measure,
.instructions {
  line-height: 3.5rem;
}

.resultContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  margin-top: 3rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktailContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;
  position: relative;
}

.cocktailImgContainer {
  width: 35rem;
  height: 35rem;
  margin: 3rem 0 20% 0;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.cocktailImgContainer img {
  order: 2;
}

.cocktailImgContainer span {
  color: #FFF7E8;
  font-size: 4rem;
  order: 1;
  margin-bottom: 2rem;
}

.cocktailImg {
  border-radius: 50%;
  border: 1rem solid #BF8620;
}

.cocktailIngredientsAndMeasure {
  display: flex;
}

.cocktailIngredientsAndMeasure,
.cocktailInstructions {
  color: #FFF7E8;
  line-height: 3rem;
  flex: 0 1 auto;
}

.cocktailIngredients,
.cocktailMeasures,
.cocktailInstructions {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background-color: #352919;
  border-radius: 20px;
  padding: 10px;
}

.cocktailInstructions {
  width: 80%;
  margin: 2rem 2rem;
}

.restart {
  margin-bottom: 3rem;
}

.fas {
  color: #FFF7E8;
  position: absolute;
  right: 10rem;
  top: 13rem;
}

/******************************/
/* Footer Styles              */
/******************************/
footer p {
  background: #000;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 3.5rem;
    padding: 1.5rem 0;
  }
  h3,
  body,
  p,
  a {
    font-size: 3rem;
  }
  .headerFlex h1 {
    margin: 4rem 0;
  }
  .headerFlex p {
    margin-bottom: 0rem;
  }
  button {
    margin-top: 0rem;
  }
  .ingredients,
  .measure {
    font-size: 2.5rem;
  }
  .start,
  .restart {
    padding: 1.5rem 4rem;
  }
  .cocktailContainer {
    padding: 2rem;
  }
  .cocktailImgContainer {
    width: 30rem;
    height: 30rem;
  }
  .cocktailIngredientsAndMeasure {
    margin: 5rem 0 2rem 0;
  }
  .cocktailImg {
    width: 30rem;
    height: 30rem;
  }
  .restart {
    margin: 2rem 0;
  }
}

@media (max-width: 1055px) {
  .option1 img,
  .option2 img,
  .option3 img,
  .option4 img,
  .option5 img,
  .option6 img {
    width: 25rem;
    height: 25rem;
  }
  footer p, footer a {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  header .headerFlex h1 {
    font-size: 8rem;
    width: 100%;
    margin: 4rem 0;
  }
  .mood h2 {
    font-size: 3rem;
  }
  h3,
  body,
  p,
  a,
  .ingredients,
  .measure {
    font-size: 3rem;
  }
  .option1 img,
  .option2 img,
  .option3 img,
  .option4 img,
  .option5 img,
  .option6 img {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 822px) {
  .cocktailContainer {
    flex-direction: column;
    align-items: center;
  }
  .cocktailIngredients,
  .cocktailMeasures,
  .cocktailInstructions {
    margin-bottom: 30px;
  }
  .cocktailIngredients h3,
  .cocktailMeasures h3,
  .cocktailInstructions h3 {
    font-size: 2rem;
  }
  footer p,
  footer a {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .mood ul.options {
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto auto;
    font-size: 3rem;
  }
  header .headerFlex {
    text-align: center;
    align-items: unset;
  }
  header .headerFlex h1 {
    font-size: 6rem;
  }
  header .headerFlex p {
    width: 100%;
  }
  header .headerFlex button {
    text-align: center;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  body {
    font-size: 2rem;
  }
  .option1,
  .option2,
  .option3,
  .option4,
  .option5,
  .option6 {
    margin-right: 0;
  }
  .option1 img,
  .option2 img,
  .option3 img,
  .option4 img,
  .option5 img,
  .option6 img {
    display: none;
  }
  .option1 p,
  .option1 a,
  .option2 p,
  .option2 a,
  .option3 p,
  .option3 a,
  .option4 p,
  .option4 a,
  .option5 p,
  .option5 a,
  .option6 p,
  .option6 a {
    padding: 1rem 0rem;
  }
  .cocktailImgContainer {
    width: 30rem;
    height: 30rem;
    margin: 3rem 0 10% 0;
  }
  .cocktailImgContainer img {
    width: 100%;
    height: 100%;
  }
  .cocktailImgContainer span {
    font-size: 3rem;
  }
  .instructions,
  .ingredients,
  .measure {
    font-size: 2rem;
  }
  .cocktailIngredients,
  .cocktailMeasures,
  .cocktailInstructions {
    margin: 0 0 30px 0;
  }
  .cocktailIngredients h3,
  .cocktailMeasures h3,
  .cocktailInstructions h3 {
    font-size: 2rem;
  }
  .cocktailMeasures {
    margin-right: 0.5rem;
  }
  .cocktailInstructions {
    margin: 0 2rem;
  }
  .cocktailIngredients,
  .restart {
    width: 100%;
  }
  footer p,
  footer a {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 4.5rem;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  body {
    font-size: 2rem;
  }
  p,
  a {
    font-size: 2.5rem;
  }
  .option1 p,
  .option2 p,
  .option3 p,
  .option4 p,
  .option5 p,
  .option6 p {
    padding: 1rem 0rem;
  }
  .ingredients,
  .measure {
    font-size: 2rem;
  }
  .cocktailImgContainer {
    width: 25rem;
    height: 25rem;
  }
  .mood {
    background-size: cover;
    background-position: right;
  }
}
