/******************************/
/* Footer Styles              */
/******************************/

footer p {
    background: $colorBlack;
    padding: 2rem 0;
    color: $colorWhite;
    text-align: center;
}