/******************************/
/* General Styles             */
/******************************/

// DEBUGGING style
// * {border: 1px solid red;}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/* Accessibility skip link */
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skipLink:focus {
    left: 0;
}

a {
    text-decoration: none;
    font-family: $bodyFont;
    color: $colorWhite;
    font-size: 3rem;

    &:hover {
        color: #EA593C;
    }
}

html,
h1,
h2,
p,
ul,
body,
a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h1 {
    font-family: $headerTitleFont;
    font-size: 12rem;
}

body {
    font-family: $bodyFont;
    font-size: 3rem;
}

img {
    max-width: 100%;
    object-fit: cover;
}

label {
    font-size: 4rem;
    color: $colorPrimary;
}

button {
    margin-top: 3rem;
}



/* start and restart button styles */
.start,
.restart {
    display: inline-block;
    padding: 2rem 6rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: $colorWhite;
    transition: all 0.2s;
    background-color: $colorPrimary;
    text-transform: uppercase;
}

.start:hover,
.start:focus,
.restart:hover
.restart:focus {
    color: $colorBlack;
    background-color: $colorSecondary;
}