/******************************/
/* Main Styles                */
/******************************/

.mood {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../assets/part1.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 0;

    h2 {
        margin-bottom: 3rem;
    }
}

h2 { 
    font-size: 5rem;
    padding: 3rem 0;
    color: $colorSecondary;
    background-color: rgb(46, 46, 46);
}


.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5));
    padding: 3rem;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
    flex: 1 1 30%;
    button {
        text-decoration: none;
        text-align: center;
        color: $colorSecondary;
        background: $colorPrimary;
        margin: 2rem 0;
        width: 100%;
        border-radius: 10px;
        border: .5rem solid $colorPrimary;

        &:hover,
        &:focus {
            border: .5rem solid $colorTertiary;
        }
    }

    img {
        border-radius: 50%;
        border: 1rem solid $colorPrimary;
        width: 25rem;
        height: 25rem;
        object-fit: contain;
        background-color: $colorWhite;
            &:hover,
            &:focus {
            border: 1rem solid $colorTertiary;
        }
    }
}

.option6 {
    img {
        object-fit: cover;
    }
}

/**************************
* Results Container Styles
**************************/
.results {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../assets/extra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    padding-top: 5rem;
    height: auto;
    padding-bottom: 15%;
}


.ingredients,
.measure,
.instructions {
    line-height: 3.5rem;
}

.resultContainer {
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5));
    margin-top: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    position: relative;
}

.cocktailImgContainer {
    width: 35rem;
    height: 35rem;
    margin: 3rem 0 20% 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    

    img {
        order: 2;
    }
    
    span {
        color: $colorSecondary;
        font-size: 4rem;
        order: 1;
        margin-bottom: 2rem;
    }
}

.cocktailImg {
    border-radius: 50%;
    border: 1rem solid $colorTertiary;
}

.cocktailIngredientsAndMeasure{
    display: flex;
}

.cocktailIngredientsAndMeasure,
.cocktailInstructions {
    color: $colorSecondary;
    line-height: 3rem;
    flex: 0 1 auto;
}

.cocktailIngredients,
.cocktailMeasures,
.cocktailInstructions {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    
    background-color: $colorPrimary;
    border-radius: 20px;
    padding: 10px;
}

.cocktailInstructions {
    width: 80%;
    margin: 2rem 2rem;
}

.restart {
    margin-bottom: 3rem;
}

.fas{
    color: $colorSecondary;
    position: absolute;
    right: 10rem;
    top: 13rem;
}