.mood {
    background: url(../../assets/part1.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 { 
    font-size: 5rem;
    padding: 3rem 0;
    color: $colorSecondary;
}

.options {
    display: flex;
    // flex: 1 1 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.option1,
.option2,
.option3,
.option4,
.option5,
.option6 {

    list-style: none;
    margin-right: 2rem;
    flex: 1 0 25%;
    p {
        text-align: center;
        color: $colorSecondary;
        background: $colorTertiary;
        margin: 2rem 0;
        border-radius: 10px;
        border: .5rem solid $colorTertiary;

        &:hover {
            border: .5rem solid $colorGreen;
        }
    }

    img {
        border-radius: 50%;
        border: 1rem solid $colorTertiary;
        width: 25rem;
        height: 25rem;
        object-fit: contain;
        background-color: $colorWhite;
            &:hover, &:focus{
            border: 1rem solid $colorGreen;
        }
    }
}

.option6{
    img{
        object-fit: cover;
    }
}

.results {
    background: url(../../assets/extra.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    h2{
        // font-size: 5rem;
        padding: 3rem 0;
        color: $colorSecondary;
    }
}


.ingredients,
.measure,
.instructions{
    line-height: 3.5rem;
}

.resultContainer{
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5));
}

.cocktailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4rem;
}

.cocktailImgContainer {
    width: 35rem;
    height: 35rem;
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;

    img {
        order: 2;
    }
    
    span {
        color: $colorSecondary;
        font-size: 4rem;
        order: 1;
        margin-bottom: 2rem;
    }
}

.cocktailImg {
    border-radius: 50%;
    border: 1rem solid $colorTertiary;
}

.cocktailIngredientsAndMeasure{
    display: flex;
    color: $colorSecondary;
    line-height: 3rem;
}

.cocktailIngredients,
.cocktailMeasures,
.cocktailInstructions{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

// .cocktailIngredients{
//     width: 20%;
// }

// .cocktailMeasures{
//     width: 35%;
// }

// .cocktailInstructions{
//     width: 45%;
// }
