.question1 {
    display: flex;
    justify-content: space-evenly;
    
    .option1,
    .option2,
    .option3 {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .option1 {
        background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../assets/party.jpg);
        background-size: cover;
    }
    .option2 {
        background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../assets/chill.jpg);
        background-size: cover;
    }

    .option3 {
        background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../assets/surprise.jpg);
        background-size: cover;
    }
}

