@media (max-width: 1300px) {
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    body {
        font-size: 2.5rem;
    }

    .ingredients,
    .measure {
        font-size: 2.5rem;
    }

    .start,
    .restart {
        padding: 1.5rem 4rem;
    }

    .cocktailImg {
        width: 30rem;
        height: 30rem;
    }
}

@media (max-width: 1055px) {
    .option1,
    .option2,
    .option3,
    .option4,
    .option5,
    .option6 {
        img {
            width: 20rem;
            height: 20rem;
        }
    }

    .cocktailImg {
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 7.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    body {
        font-size: 2rem;
    }

    .ingredients,
    .measure {
        font-size: 2rem;
    }

    .option1,
    .option2,
    .option3,
    .option4,
    .option5,
    .option6 {
        img {
            width: 18rem;
            height: 18rem;
        }
    }
}

@media (max-width: 500px) {

    header {

    }

    .mood {
        flex-direction: column;

        ul.options {
            display: block;
            width: 20rem;
            margin: auto auto;
        }
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    body {
        font-size: 1.8rem;
    }

    .ingredients,
    .measure {
        font-size: 2rem;
    }

    .option1,
    .option2,
    .option3,
    .option4,
    .option5,
    .option6 {
        img {
            display: none;
            // width: 15rem;
            // height: 15rem;
        }
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    body {
        font-size: 1.5rem;
    }
    .ingredients,
    .measure {
        font-size: 1.5rem;
    }
}
