/******************************/
/* Font Variables             */
/******************************/

$headerTitleFont: 'Poppins', sans-serif; // medium 500
$bodyFont: 'Roboto', sans-serif; // regular 400

/******************************/
/* Color Variables            */
/******************************/

$colorWhite: #fff;
$colorBlack: #000;
